:root {
    --background-color: hsl(30, 38%, 92%);
    --title-color: hsl(212, 21%, 14%);
    --text-color:   hsl(228, 12%, 48%);
    --container-color: hsl(0, 0%, 100%);
    --purchase-color: hsl(158, 36%, 37%);
    --click-color: hsl(156, 42%, 18%);
}